---
import Article from "./Article.astro";

const { icons } = Astro.props;
---

<Article id="icons" title="Galery icons" tag="link">
  <section class="flex flex-col md:flex-row gap-8 flex-wrap">
    {
      icons.map((icon: any) => (
        <div class="flex flex-col gap-1 items-center">
          <img
            class="rounded max-h-32"
            src={icon.url}
            alt={`${icon?.rel} ${icon?.sizes ?? ""}`}
          />
          <p class="opacity-50 font-light text-xs">
            {icon?.rel} {icon.sizes}
          </p>
        </div>
      ))
    }
  </section>
</Article>
